@import "tailwindcss";
@theme {
  --font-gistesy: "Gistesy";
  --font-baskerville: "LibreBaskerville";
  --primary-bg: #f9f7f3;
  --bg-sec: #eae2dc;
  --bg-rose: #d4b3ab;
  --bg-darker: #574b44;
  --bg-lighter: #fcf9fa;
  --bg-footer: #8a7769;
}
@font-face {
  font-family: "Gistesy";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url("/assets/fonts/gistesy/Gistesy.woff2") format("woff2"),
    url("/assets/fonts/gistesy/Gistesy.ttf") format("truetype");
}
@font-face {
  font-family: "LibreBaskerville";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url("/assets/fonts/libre_baskerville/LibreBaskerville-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/libre_baskerville/LibreBaskerville-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "LibreBaskerville";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src:
    url("/assets/fonts/libre_baskerville/LibreBaskerville-Bold.woff2")
      format("woff2"),
    url("/assets/fonts/libre_baskerville/LibreBaskerville-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "LibreBaskerville";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src:
    url("/assets/fonts/libre_baskerville/LibreBaskerville-Italic.woff2")
      format("woff2"),
    url("/assets/fonts/libre_baskerville/LibreBaskerville-Italic.ttf")
      format("truetype");
}
.Layout-wrapper {
  margin: 0px;
  padding: 0px;
}
.logo {
  max-height: 50px;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  transform: translateX(-10%);
}
@layer base {
  html {
    color: var(--bg-darker);
    font-family: "LibreBaskerville", system-ui, sens-serif;
  }

  body {
    font-family: LibreBaskerville;
    background-color: var(--primary-bg);
    max-width: 900px;
    margin-inline: auto;
  }
  .atext {
    font-size: 12vw;
    line-height: 12vw;
  }
  .atext2 {
    font-size: 4vw;
    line-height: 1vw;
  }
  .bottom-line {
    stroke: var(--bg-darker);
    stroke-width: 2;
    stroke-linecap: round;
    fill: var(--bg-darker);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    animation: draw-fill-hide-stroke 5s infinite ease-out forwards;
  }
  @keyframes draw-fill-hide-stroke {
    0% {
      stroke-dashoffset: 1700;
      fill-opacity: 0;
      stroke-opacity: 1;
    }
    50% {
      stroke-dashoffset: 0;
      fill-opacity: 0;
      stroke-opacity: 1;
    }
    80% {
      stroke-dashoffset: 0;
      fill-opacity: 1;
      stroke-opacity: 0;
    }
    100% {
      stroke-dashoffset: 0;
      fill-opacity: 0;
      stroke-opacity: 0;
    }
  }
}
